<p style="color: green"><%= notice %></p>

<center><h1>Current Job Openings</h1></center>
<center><p>The following positions are currently available!</p></center>
<br><br>

<div id="jobs">
  <% @jobs.each do |job| %>
    <%= render job %>
    <p>
      <%= link_to "More details", job %>
    </p>
    <hr>
  <% end %>
</div>

<%= link_to "New job", new_job_path %>
